*
!Dockerfile
!pyproject.toml
!uv.lock
!README.md
!LICENSE
!src/
!src/**
!tests/
!tests/**
**/__pycache__/
**/*.py[cod]
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.env
**/.env.*
**/*.pem
**/*.key
