*
!Dockerfile
!pyproject.toml
!uv.lock
!README.md
!LICENSE
!src/
!src/**
!tests/
!tests/**
!examples/
!examples/inference/
!examples/inference/ollama.json
!examples/inference/openai.json
!examples/inference/azure-flexible-server.json
!scripts/
!scripts/check-adapter-extras.py
**/__pycache__/
**/*.py[cod]
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.env
**/.env.*
**/*.pem
**/*.key
